ul {
   width: 200px;
   background-color:burlywood;
   margin: 0;
   padding: 0;
}

li a {
   display: block;
   color: brown;
   padding: 8px 16px;
   text-decoration: none;
   text-align: center;
}