ul {
   list-style: none;
   width: 300px;
   background-color:rgb(246, 246, 246);
   margin: 0;
   padding: 0;
   height: 100%;
   overflow: auto;
   top: 0;
   left: 0;
   position: fixed;
   opacity: 1;
   font-size: 20px;
   border-right: 2px solid black;
}

li a {
   display: block;
   color: rgb(0, 0, 0);
   padding: 8px 16px;
   text-decoration: none;
   text-align: center;
   width: 300px;
}

li a:hover{
   background-color: rgb(0, 0, 0);
   color: rgb(232, 225, 225);  
   font-size: 20px;
   height: 20px;
}



p {
   margin-left:600px;
   padding: none;
   background-color: none;
   border-radius: 9;
   text-align:left;
   font-size: 25px;
   width:500px;
   
}

header {
   background-color: rgb(238, 230, 221);
   text-align: center;
   padding: 50px;
   margin-top: 0;
   font-size: 50px;
   font-weight: bold;

}
body {
background-color: rgb(240, 234, 228);
}

h1 {
   margin-left: 600px;
}

h2 {
   margin-left: 600px;
   

}

video {

   float: right;
}
img {
   float: right;
}
h3 {


   font-size: 40px;
   margin-left: 600px;
}

h4 {

    font-size: 35px;
   margin-left: 600px;
}

   


.Filmpjeverwerking {

font-size: 30px;
margin-left: 600px;


}

.binairstelselfilmpje {

font-size: 20px;
margin-left: 600px;


}

.Headerfilmpjeverwerking  {

margin-left: 600px;



}

.centeredvideo-section {


   text-align: center
   
}

.videoverwerking {

   width: 800px;
   margin-left: 600px;
   min-height: 400px;
   border: none;
}
