ul {
   list-style: none;
   width: 300px;
   background-color:rgb(246, 246, 246);
   margin: 0;
   padding: 0;
   height: 100%;
   overflow: auto;
   top: 0;
   left: 0;
   position: fixed;
   opacity: 1;
   font-size: 20px;
}

li a {
   display: block;
   color: rgb(0, 0, 0);
   padding: 8px 16px;
   text-decoration: none;
   text-align: center;
   width: 300px;
}

li a:hover{
   background-color: rgb(0, 0, 0);
   color: rgb(232, 225, 225);  
   font-size: 20px;
   height: 20px;
}



p {
   margin-left:300px;
   padding: none;
   background-color: none;
   border-radius: 9;
   text-align:left;
   font-size: 25px;
   width:500px;
   
}

header {
   background-color: rgb(238, 230, 221);
   text-align: center;
   padding: 50px;
   margin-top: 0;
   font-size: 50px;

}
body {
background-color: rgb(240, 234, 228);
}

h1 {
   margin-left: 300px;
}

h2 {
   margin-left: 300px;
   

}

video {

   float: right;
}
img {
   float: right;
}
h3 {


   font-size: 40px;
   margin-left: 300px;
}

h4 {

    font-size: 35px;
   margin-left: 300px;
}

#bonanza {

margin-left: 300px;

   
}

#filmpjeverwerking {


margin-left: 300px;


}

#binairstelselfilmpje {

margin-left: 300px;


}


